<div class="board-container">
    <h1 class="board-heading">Tic Tac Toe Game</h1>
    <table>
        <tr>
            <td><app-position-text [val]="5"></app-position-text></td>
            <td><app-position-text></app-position-text></td>
            <td><app-position-text></app-position-text></td>
        </tr>
        <tr>
            <td><app-position-text></app-position-text></td>
            <td><app-position-text></app-position-text></td>
            <td><app-position-text></app-position-text></td>
        </tr>
        <tr>
            <td><app-position-text></app-position-text></td>
            <td><app-position-text></app-position-text></td>
            <td><app-position-text></app-position-text></td>
        </tr>
    </table>
    <div class="button-container">
        <button>Restart Game</button>
    </div>
</div>
